<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Пасажири</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>
    <div class="container">
      <h1>Пасажири</h1>

      <form
        action="/passengers/execute-query"
        method="post"
        class="form-container"
      >
        <label for="sqlQuery">Ведення запросу:</label>
        <input
          type="text"
          id="sqlQuery"
          name="sqlQuery"
          placeholder="Enter SQL Query"
          required
        />
        <button type="submit">Виконати запрос</button>
      </form>

      <!-- Display query results only if queryResult is not empty -->
      <div th:if="${queryResult != null && !queryResult.isEmpty()}">
        <h2>Результати:</h2>
        <table>
          <thead>
            <th
              th:each="column : ${queryResult[0].keySet()}"
              th:text="${column}"
            ></th>
          </thead>
          <tbody>
            <tr th:each="row : ${queryResult}">
              <td th:each="cell : ${row.values()}" th:text="${cell}"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- If no results to display -->
      <div th:if="${queryResult == null || queryResult.isEmpty()}">
        <p>Нет результатов для отображения. Введите допустимый SQL-запрос.</p>
      </div>

      <div th:if="${message}">
        <p th:text="${message}"></p>
      </div>
      <div th:if="${errorMessage}">
        <p style="color: red" th:text="${errorMessage}"></p>
      </div>

      <a href="/home" class="button back">Повернутися</a>
    </div>
  </body>
</html>
