<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Restaurant Management</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>
    <div class="container" style="text-align: center">
       
        
      </a>

      <h1>Автобусні перевезення</h1>
      <h2>Проект сайту для зручної покупки автобусних квитків</h2>
      <h3>Чередник Матвій КІ-222 ТПП</h3>

      <div class="navigation">
        <a th:href="@{/passengers}" class="button">Пасажири</a>
        <a th:href="@{/menu-items}" class="button">Список Маршрутів</a>
        <a th:href="@{/orders}" class="button">Замовлення</a>
        <a th:href="@{/order-items}" class="button">Поїздки</a>
      </div>
    </div>
  </body>
</html>
